    <div class="chat-index">
      <% if @chat_rooms.count > 0 %>
        <nav class="flex-column">
          <% @chat_rooms.each do |chat_room| %>
          <div class="btn-orange btn-thin">
            <%= link_to chat_room.name, chat_room_path(chat_room) %>
          </div>

          <% end %>
        </nav>
      </div>
    <% else %>
      <div class="chatfont">
        There are no messages
      </div>
    <% end %>
  </div>
</div>

