<div class='d-flex flex-column align-items-center'>
<h1>Meeting</h1>
  <div>
    <%= @meeting.restaurant.name %>
  </div>
  <div>
    User email: <%= @meeting.user.email %>
  </div>
  <br>
  <div>
    <%= link_to 'Meetings list', meetings_path, class: 'btn btn-info' %>
  </div>
</div>
