.oh-no{
  color: white;
  text-shadow: 1px 1px #F6F6F6;
}


h1.meetingGuest {

.meetingH1 {
  color: white;
  padding:20px;
}

h3.meetingGuest {
  color: white;
}

.card-meeting {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border: 1px solid #ec9b3b;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.btn-Meeting{
 color: #EC9B3B;
  width: 200px;
  padding: 5px 10px;
  border-radius: 15px;
  background: #F6F6F6;
  border: 0.5px solid #EC9B3B;
  text-align: center;
  transition: background 0.3s ease;
  font-size: 18px;
  margin: 4px;
  text-decoration:none;
}

.btn-createMeeting{
  color: #EC9B3B;
  padding: 5px 20px;
  border-radius: 15px;
  background: #F6F6F6;
  border: 0.5px solid #EC9B3B;
  text-align: center;
  transition: background 0.3s ease;
  font-size: 20px;
  text-decoration:none;
}

.cancelbtn{
  color: #F6F6F6;
  width: 200px;
  padding: 5px 20px;
  border-radius: 15px;
  background: #EC9B3B;
  border: 0.5px solid #F6F6F6;
  text-align: center;
  transition: background 0.3s ease;
  font-size: 20px;
  text-decoration:none;
  margin: 4px;
}

.card-meeting {
  .card-meeting-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  p {
  color: black;
  }
  div {
    .btn {
      margin: 5px;
    }
  }
}
