
.card {
  // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  // max-width: 100%;
  // margin: auto;
  text-align: center;
  // max-height: 100%;
  // max-width: 100%;
  // background-color:
  min-height: 100vh;
}

.height-fix {
  min-height: 100px;
}

.card-avatar {
  max-width: 97.5%;
  max-height: 97.5%;
  border-radius: 12px;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.4);
}

.profile-pic {
  position: relative;
  padding: 12px;
}

.profile-pic-info {
  position: absolute;
  left: 20px;
  bottom: 12px;
  text-align: left;
  padding: 12px;
  padding-right: 4px;
  color: white;
  line-height: 14px;
}

.profile-pic-rating {
  color: black;
  background-color: white;
  padding: 8px 16px;
  border-radius: 4px;
  display: flex;
  flex-wrap: nowrap;
  p {
    padding-right: 8px;
  }
}

.information-card {
  padding: 16px;
  padding-top: 6px;
  max-width: 100%;
  max-height: 100%;
}

.interests-card {
  padding: 16px;
  padding-top: 14px;
  text-align: left;
  background-color: #FCEAF3;
  box-shadow: 2px;
  border-radius: 8px;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
  p {
    font-size: 16px;
    color: black;
    text-shadow: none;
  }
  h2 {
    font-size: 24px;
    font-weight: 100%;
    color: #353533;
  }
}

.information-card-buffer {
  padding-bottom: 16px;
}

.favicons {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  justify-content: space-evenly;
  padding-bottom: 4px;
  padding-top: 0px;
  i {
    color: #FF768C;
    width: 36px;
    height: 36px;
  }
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

// button:hover, a:hover {
//   opacity: 0.7;
// }

.card-title-edit {
  display: flex;
  justify-content: space-between;
}
