.title-card {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
  justify-content: space-evenly;
  padding-bottom: 12px;
  padding-top: 16px;
  padding-right: 70px;
  padding-left: 60px;
}

.fa-plus-circle {
  font-size: 34px;
  color: #1fdd87;
}

.card-restaurant {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 10px;
  border-radius: 8px;
}

.nav-pills {
  display: inline-flex;
  background: #e5e5e5;
  border-radius: 0.25rem;
  padding: 2px;
}

.card-restaurant-infos {
  padding: 8px 24px;
  .btn {
    margin-top: 8px;
  }
}

.card-restaurant img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-restaurant h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-restaurant p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-restaurant .card-restaurant-infos-infos {
  padding: 16px;
}

 .title {
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 2rem;
  font-weight: bold;
  margin: 0 auto;

}

.btn-createMetting{
 color: #EC9B3B;
  width: 50px;
  padding: 5px 20px;
  border-radius: 15px;
  background: #F6F6F6;
  border: 0.5px solid #EC9B3B;
  text-align: center;
  transition: background 0.3s ease;
  font-size: 20px;
  text-decoration:none;
}

.nav-item{
  background-color: #F6F6F6;
}

.nav-link{
  color: #EC9B3B;
}

.nav-pills .nav-link.active {
  background-color: #EC9B3B;
}



a:hover {
  color: #C2C2C2;
}

