.title-card {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
  justify-content: space-evenly;
  padding-bottom: 2px;
  padding-top: 6px;
  padding-right: 70px;
  padding-left: 60px;
}

.fa-plus-circle {
  font-size: 34px;
  color: #1fdd87;
}



.nav-pills {
  display: inline-flex;
  background: #e5e5e5;
  border-radius: 0.25rem;
  padding: 2px;
}

h3.rest-title {
  font-size: 22px;
}

.rest-distance {
  color: #8F3872;
  font-size: 16px !important;
  position: absolute;
  background-color: $white;
  border-radius: 5%;
  font-weight: bold;
  bottom: 0px;
}

 .title {
  color: $white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 2rem;
  font-weight: bold;
  margin: 0 auto;
  padding: 1rem;

}

.nav-item {
  background-color: #F6F6F6;
}

.nav-link {
  color: #FE9A65;
}

.nav-pills .nav-link.active {
  background-color: #FE9A65;
}



// a:hover {
//   color: #C2C2C2;
// }

// .btn-info {
//   color: #5AB778;
//   padding: 5px 20px;
//   border-radius: 15px;
//   background: #F6F6F6;
//   border: 0.5px solid #5AB778;
//   text-align: center;
//   transition: background 0.3s ease;
//   text-decoration:none;
//   font-size: 20px;
// }

