.review {
  height: 100%;
  background: rgba(250, 250, 250, 0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 8px;
  margin: 8px;
  justify-content: center;
}
