.card-1 {
  padding-top: 100px;
  border-radius: 20px;
}

.card-title {
  padding-top: 10px;
  padding-bottom: 20px;
}

.meeting-button {
  text-align: center;
}

.card-product {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 8px;
  margin: 0 24px;
}

.card-product img {
  height: 70%;
  width: 100%;
  object-fit: cover;
}

.card-product h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 16px;
  line-height: 1.4;
  opacity: 0.7;
  margin-bottom: 0;
  margin-top: 8px;
  color: black;
}

.card-product .card-product-infos {
  padding: 16px;
}

.button-space {
  padding-bottom: 12px;
  align-items: center;
}
