.btn-green{
  color: white;
  width: 200px;
  padding: 5px 20px;
  border-radius: 25px;
  background: #1EDD88;
  text-align: center;
  transition: background 0.3s ease;
  font-size: 25px;
}


.forgot-password{
  color:#039CC3;
}

.login-text h2{
  text-align: center;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 3.5rem;
}


.form {
  color:white;
  display: inline-block;;
}

.form-inputs{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  color: white;

}

.form-actions{
  color: white;
  padding: 10px 26px;
  border-radius: 4px;
  background: #1EDD88;
  text-align: center;
  // transition: background 0.3s ease;
  font-size: 35px;

}

