
// .btn-green{
//   color: $white;
//   width: 200px;
//   padding: 5px 20px;
//   border-radius: 25px;
//   background: #1EDD88;
//   text-align: center;
//   transition: background 0.3s ease;
//   font-size: 25px;
//   &:hover {
//     color: #FE9A65 !important;
//     text-decoration: none;
//   }
// }

.text h2{
  margin-left: 40px;
}

.form {
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

}

.form-inputs{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: white;

}
