<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="card">
  <div class="profile-pic">
  <%= cl_image_tag current_user.photo, alt: "John", class: "card-avatar" %>
    <div class="profile-pic-info">
      <h1>John Doe</h1>
      <p class="job-title">Graphic Designer, London</p>
      <div class="profile-pic-rating">
        <p>Rating</p>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
      </div>
    </div>
  </div>
  <div class="information-card">
    <div class="information-card-buffer">
      <div class="interests-card">
        <h2>Food Preferences</h2>
        <p>My favourite food is Japanese, Thai or anything East Asian. Lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
      </div>
    </div>
    <div class="interests-card">
      <h2>Interests</h2>
      <p>I am interested in web design and technology. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
    </div>
  </div>
  <div class="favicons">
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
  </div>
</div>
