<div class="footer">


  <div class="footer-links">

    <button><i class="far fa-calendar-check" aria-hidden="true"></i></button>
    <button><i class="far fa-comments" aria-hidden="true"></i></button>
    <button><i class="fas fa-search" aria-hidden="true"></i></button>

  </div>


</div>
