<div class="footer">


  <div class="footer-links">

    <%= link_to'<button><i class="far fa-calendar-check" aria-hidden="true" icon></i></button>'.html_safe,meetings_path %>

    <%= link_to'<button><i class="far fa-comments" aria-hidden="true"></i></button>'.html_safe,chat_rooms_path %>

    <%= link_to '<button type="button"> <i class="fas fa-search" aria-hidden="true" icon></i></button>'.html_safe, restaurants_path %>

  </div>
</div>
