
<div class="banner" style="background-image: url(https://images.pexels.com/photos/2226511/pexels-photo-2226511.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260)">
  <div class="container">
    <h1>Mango</h1>
    <p>Never eat alone again!</p>
    <a class="btn btn-flat" href="#">Join</a>
    <a class="btn btn-flat" href="#">Sign In</a>
  </div>
</div>
