
<div class="container">

  <div class="home-image">

    <div class="home-logo">
      <%= image_tag "mango_white.png" %>
    </div>

    <div class="banner">
      <h1>Mango</h1>
      <p>Never eat alone again!</p>

      <div class="buttons">
        <a class="btn btn-flat sign" href="#">Sign Up</a>
        <br><br>
        <a class="btn btn-flat login" href="#">Login </a>
      </div>
    </div>

  </div>

  <div class= "tandc">
    <p>Terms and Conditions</p>
  </div>

</div>
