
<div class="container">

  <div class="home-image">

    <div class="home-logo">
      <%= image_tag "mango_white.png" %>
    </div>

    <div class="banner">
      <h1>Mango</h1>
      <p>Never eat alone again!</p>

      <div class="buttons">
        <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-flat login" %>
        <br><br>
        <%= link_to "Login", new_user_session_path, class: "btn btn-flat login" %>
        <%#= link_to "LOGOUT", destroy_user_session_path, method: :delete, class: "btn login" %>
      </div>
    </div>

  </div>

  <div class= "tandc">
    <p>Terms and Conditions</p>
  </div>

</div>
