
<body>
  <div class="home-image">
    <div class="home-logo">
      <img src="logo.jpg">
    </div>
    <div class="banner ">

      <h1>Mango</h1>
      <p>Never eat alone again!</p>
    <div class="buttons">
      <a class="btn btn-flat" href="#">Join</a>
      <a class="btn btn-flat" href="#">Sign In</a>
    </div>
      </div>

  </div>
  <div class= "tandc">
    <p>Terms and Conditions</p>
  </div>
</body>
