<h1>Restaurants</h1>
<div class="card-restaurant">
  <img src="https://images.pexels.com/photos/62097/pexels-photo-62097.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" />
  <div class="card-restaurant-infos">
    <h2>Name</h2>
    <p>Description</p>
  </div>
</div>


