.btn-thin {
  padding: 3px 20px;
  border-radius: 15px;
  text-align: center;
  transition: background 0.3s ease;
  font-size: 18px;
  text-decoration: none;
  margin: 4px 0px;
}

.card-meeting .btn-thin {
  width: 100%;
}


