.btn-orange {
  color: #FE9A65;
  background: $white;
  border: 2px solid #FE9A65;
  a {
    color: #FE9A65;
  }
}

// .btn-Meeting {
//  color: #FE9A65;
//   width: 200px;
//   padding: 5px 10px;
//   border-radius: 15px;
//   background: $white;
//   border: 2px solid #FE9A65;
//   text-align: center;
//   transition: background 0.3s ease;
//   font-size: 18px;
//   margin: 4px;
//   text-decoration:none;
// }
