.card-restaurant {
  overflow: hidden;
  height: 150px;
  background: $white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 10px 0px;
  border-radius: 8px;
  position:relative;
  line-height: 1.2;
  width: 100%;
  padding: 0px;
  max-width: 420px;
}

.card-restaurant-text {
  margin: auto;
  width: 50%;
}

.card-restaurant img {
  height: 100%;
  width: 146px;
  object-fit: cover;
}

.card-restaurant h3 {
  // font-size: 16px;
  font-weight: bold;
  padding-bottom: 10px;
  color: #8F3872;
  margin: 0;
}

.card-restaurant p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}


.card-meeting .btn-thin {
  //width: 100%;
}


.card-restaurant .card-restaurant-text {
  // padding: 16px;
}

.card-restaurant-wrap {
  margin: auto;
}

.card-restaurant-text {
  .btn-thin {
    white-space: nowrap;
  }
}

// @media (max-width: 576px) {
  .card-restaurant-text {
    .btn-thin {
      a {
      font-size: 16px;
      }
    }
  }
// }

@media (min-width: 740px) {
  .card-restaurant-text {
    .btn-thin {
      a {
      font-size: 18px;
      }
    }
  }
}

@media (min-width: 960px) {
  .card-restaurant-text {
    .btn-thin {
      padding: 3px 15px;
      a {
      font-size: 16px;
      }
    }
  }
}

