.footer-links {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  background: #fefefe;
  z-index: 1000;
}

.footer-links button {
 padding: 1rem 3rem;
  background-color:#fefefe;
  color:#ec9b3b;
  width: 8rem;
  align-items: center;
  overflow: hidden;

}

.footer-links button svg,
.footer-links button i,
.footer-links button img {
  font-size: 2rem;
  max-height: 2rem;
  max-width: 8rem;

}

.footer {
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0;


}

