.navbar-lewagon {
  justify-content: space-between;
  background: $white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navtitle {
  font-family: raleway;
  text-align: center;
  font-size: 26px;
  color: #FE9A65;
  text-shadow: none;
  font-weight: bolder;
  margin-bottom: 0;
  margin-top: 0;
  opacity: 1;
  padding-bottom: 4px;
  padding-top: 2px;
  position: absolute;
  left: 50%;
  margin-left: -42px;
  top: 10px;
}

// @media (min-width: 576px) and (max-width: 850px) {
//   .navbar-expand-sm .navbar-toggler {
//     display: flex!important;
//   }
// }

// @media (min-width: 576px) and (max-width: 850px) {
//   .navbar-expand-sm .navbar-collapse {
//     display: none !important;
//     //flex-basis: auto;
//   }
// }

// @media (min-width: 850px) {
//   .navbar-expand-sm .navbar-collapse {
//     display: flex;
//     flex-basis: auto;
//   }
// }

// .navbar-expand-sm .navbar-collapse {
//     display: flex;
//     flex-basis: auto;
// }

