.navbar-lewagon {
  justify-content: space-between;
  background: $white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navtitle {
  font-family: raleway;
  text-align: center;
  font-size: 26px;
  color: #EC9B3B;
  text-shadow: none;
  font-weight: bolder;
  margin-bottom: 0;
  margin-top: 0;
  opacity: 1;
  padding-bottom: 4px;
  padding-top: 2px;
}


